src/main/mule/mule-test-poc.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd ">
    <http:listener-config name="mule-test-poc-httpListenerConfig">
        <http:listener-connection host="0.0.0.0" port="${http.port}" readTimeout="${http.response.timeout}"/>
    </http:listener-config>
    <configuration-properties doc:name="Configuration properties" doc:id="80433e55-74a4-403f-9ded-259f0112f0b3" file="config/${env}-config.yaml" />
	<flow name="mule-test-poc-main">
        <http:listener config-ref="mule-test-poc-httpListenerConfig" path="/echo">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
		<ee:transform doc:name="Transform Message" doc:id="42bc051e-7236-4f58-9ea5-de9d0037e4a9" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
  name: attributes.queryParams.name default "Poorna"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
    </flow>
</mule>
